/* [class*="col-"] {
  float: left;
} */

h1 {
color: #004D40;
text-align: center;
background-color:#E0F2F1;
font-size:7vw;
padding: 15px;
}
 h2 {
    font-size:5vw;
    margin-top: 50px;
} 
body {margin:20px;}


@media  (orientation: portrait) {
  h1{
    color: #c7006e;
    font-size: 30px;
    
    border: 8px solid #F48FB1;
    background:#fbe2f0;
  }
}
.info-panel {
  margin-top: 15px;
  background: silver;
  height: 300px;
  text-align: center;
  font: 30px/300px Helvetica, Arial, sans-serif;
}

.msg-panel{
  background: silver;
  height: 50px;
  text-align: center;
  font: 30px Helvetica, Arial, sans-serif;
}

.my-label{
	width: 300px;
	height: 70px;
	/* margin-top: calc(50vh - 50px); */
	/* margin-left: 10vw; */
	background-color: #00796B;
	border-radius: 7px;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
}

#swipe-msg{
  font-size: 1em;
  /* color: silver; */
}

.row{
  display: block;
}

.row label{
  font-weight: bold;
}

#mapholder {
  margin-top: 15px;
}

.my-image img {
  width: 100%;
  margin-top: 15px;
}